@charset "utf-8";

body  {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background: #FFFFFF;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	color: #000000;
}
body a, a:link, a:visited{color:#000000;text-decoration:underline;}
body a:hover{color:#ff0000;text-decoration:underline;}

.twoColFixRtHdr #container { 
	width: 900px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	text-align:left; /* this overrides the text-align: center on the body element. */	
} 

/*----------------------------------------------------------------------------*/
.twoColFixRtHdr #header { 
	margin-top: 12px;
	height:55px;
	padding-left:15px;/* padding: 0 10px 0 20px;  this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 
.twoColFixRtHdr #header {
	padding-top:8px;
	padding-bottom:6px;
}

/*----------------------------------------------------------------------------*/
/*SideBar*/
.twoColFixRtHdr #sidebar1 {
	float: right; /* since this element is floated, a width must be given */
	width: 200px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #ffffff; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 15px 10px;
}
.sidebarH2{font-weight:bold;font-size:15px;margin-bottom:4px;color:#000000;}
.boxTop {background:url(../images/contact_box_top.png) no-repeat #f4f4f4; width:185px; height:3px; margin-top:10px;}
.boxMiddle {background:url('../images/leftbox.png') no-repeat #ffffff; width:185px;padding-left:10px;}
.boxBottom {background:url('../images/contact_box_bottom.png') no-repeat; width:185px;	height:3px;	margin-bottom:15px;}

/*----------------------------------------------------------------------------*/


.twoColFixRtHdr #mainContent {

	margin: 0px 250px 0 15px; /* the right margin on this div element creates the column down the right side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
	padding-top:20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
} 

#leftcolumnWrapper {  
	float: left;
	padding-left: 100px;
}


.twoColFixRtHdr #mainContent h1{ 
 	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color:#000000;
	font-weight:600;
	margin-left: 0px;
	margin-top: 6px;
	margin-bottom: 20px;}

.twoColFixRtHdr #mainContent h2{ 
	font-size:16px;
	margin-bottom:10px; 
	margin-top:40px; 
	color:#000000; 
	font-weight: 600} 

.twoColFixRtHdr #mainContent h3{ 
	text-align: left; 
	padding-top: 0px;
	color:#000000; 
	font-weight: 600; 
	font-size: 13px; 
	margin-top:5px; 
	margin-bottom:5px;
	margin-left: 18px;} 
.twoColFixRtHdr #mainContent h3.noexpand { 
	text-align: left; 
	padding-top: 0px;
	color:#000000; 
	font-weight: 600; 
	font-size: 13px; 
	margin-top:5px; 
	margin-bottom:5px;
	margin-left: 18px;}
.twoColFixRtHdr #mainContent h3.noimage {
	text-align: left; 
	padding-top: 0px;
	margin-left:2em;
	color:#000000; 
	font-weight: 600; 
	font-size: 13px; 
	margin-top:5px; 
	margin-bottom:5px}
.twoColFixRtHdr #mainContent h4{ 
	text-align: left; 
	padding-top: 0px; 
	margin-left:6.3em; 
	margin-bottom:2px; 
	margin-top:2px; 
	color:#7F7F7F; 
	font-weight: 600; 
	font-size: 13px}
.twoColFixRtHdr #mainContent h4.noimage { 
	text-align: left; 
	padding-top: 0px; 
	margin-left:3.3em; 
	margin-bottom:2px; 
	margin-top:2px; 
	color:#7F7F7F; 
	font-weight: 600; 
	font-size: 13px}
.twoColFixRtHdr #mainContent h5 {  
	text-align: left; 
	padding-top: 0px; 
	margin-left:8.2em; 
	margin-bottom:5px; 
	margin-top:5px; 
	color:#000000; 
	font-weight: 600; 
	font-size: 12px}
.twoColFixRtHdr #mainContent h5.noimage {  
	text-align: left; 
	padding-top: 0px; 
	margin-left:4.9em; 
	margin-bottom:5px; 
	margin-top:5px; 
	color:#000000;
	font-weight: 600; 
	font-size: 12px
}
.twoColFixRtHdr #mainContent p{  
		font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #333333; 
	margin-left: 5.8em;
	margin-top: 6px;
	margin-bottom: 6px

}
/* kevin added these items for content alignment */

.twoColFixRtHdr #mainContent p.L1P{  
		font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #333333; 
	margin-left: 7.0em;
	margin-top: 6px;
	margin-bottom: 6px

}

.twoColFixRtHdr #mainContent p.L2P{  
		font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #333333; 
	margin-left: 8.3em;
	margin-top: 6px;
	margin-bottom: 6px

}

.twoColFixRtHdr #mainContent p.L3P{  
		font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #333333; 
	margin-left: 9.4em;
	margin-top: 6px;
	margin-bottom: 6px

}

.twoColFixRtHdr #mainContent p.htext1{  

	text-align: left; 
	padding-top: 0px;
	color:#000000; 
	font-weight: 400; 
	font-size: 13px; 
	margin-top:5px; 
	margin-bottom:15px;
	margin-left: 5.3em;
	margin-right:2em;

}

.twoColFixRtHdr #mainContent p.htext2{  

	text-align: left; 
	padding-top: 0px;
	color:#000000; 
	font-weight: 400; 
	font-size: 13px; 
	margin-top:5px; 
	margin-bottom:10px;
	margin-left: 15px;
	margin-right:2em;

}

.twoColFixRtHdr #mainContent p.L1Pnoimage{  

	text-align: left; 
	padding-top: 0px;
	color:#000000; 
	font-weight: 400; 
	font-size: 9pt; 
	margin-top:5px; 
	margin-bottom:5px;
	margin-left: 3.5em;
	margin-right:2em;

}

.twoColFixRtHdr #mainContent p.L2Pnoimage{  

	text-align: left; 
	padding-top: 0px;
	color:#000000; 
	font-weight: 400; 
	font-size: 9pt; 
	margin-top:5px; 
	margin-bottom:5px;
	margin-left: 4.9em;
	margin-right:2em;

}

.twoColFixRtHdr #mainContent p.L3Pnoimage{  

	text-align: left; 
	padding-top: 0px;
	color:#000000; 
	font-weight: 400; 
	font-size: 9pt; 
	margin-top:5px; 
	margin-bottom:5px;
	margin-left: 6.1em;
	margin-right:2em;

}


.twoColFixRtHdr #mainContent p.bullet {
	border: none;
 	margin: 6px 0 1px 7em;
	display:list-item;
 	position: relative;
	list-style-image:url(../images/bullet.png);
}

/*----------------------------------------------------------------------------*/

.twoColFixRtHdr #footer { 
	/* padding: 0 10px 0 20px; this padding matches the left alignment of the elements in the divs that appear above it. */
background-color:#4c4c4c;
background-image: url(../images/footer.png);
background-repeat:repeat-x;

padding-top:15px;
padding-left:5px;
padding-right:5px;
padding-bottom:25px;

margin-top:35px;
margin-bottom:5px;

overflow:auto;
} 
.twoColFixRtHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 2px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}

/* ---------------------------------------------------------------------------*/
 /* Search Box Start */
#search_box {
    width: 201px;
    background: url('../images/bg_search_box.gif');
	background-repeat:no-repeat;
	margin-bottom: 3px;
	padding-bottom:5px;}
#search_box #s {
    padding: 0;
    margin: 6px 0px 0px 3px;
    border: 0;
    width: 150px;
    background: none;
	height:20px;
	}
#search_box #go {
	vertical-align:top;
    float: right;
    margin: 3px 12px 0 0;
	border:none;
}

#advancedSearch { 
	margin: 0px 0px 0px 5px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:500;
	color: #000000;
}

/*----------------------------------------------------------------------------*/
.twoColFixRtHdr #copyright { 
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	text-align:center;
	margin-bottom:0px;
	padding:10px;
} 

.twoColFixRtHdr #copyright a:link {
	color: #000;
}
.twoColFixRtHdr #copyright a:visited {
	color: #000;
}
.twoColFixRtHdr #copyright a:hover {
	text-decoration: underline;
	color: #7f7f7f;
}
.twoColFixRtHdr #copyright a:active {
	text-decoration: underline;
	color: #000;
}


/*----------------------------------------------------------------------------*/
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
	overflow:auto;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/*----------------------------------------------------------------------------*/
/*  Breadcrumb Start */
#crumb {
	position: relative;
	padding-left:0px;
	margin-top:10px;
	width: 500px;
	height: 15px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:500;
	color: #000000;
}
/* Breadcrumb links  */
#crumb  a:link {color: #000;}
#crumb  a:visited {color: #000;}
#crumb  a:hover {text-decoration: underline;color: #7f7f7f;}
#crumb  a:active {text-decoration: underline;color: #000;}


/*----------------------------------------------------------------------------*/

/* End CSS Instead of TABLES */
/*--------------------------------------------------------------*/
/* Tool-tips menu - use title="*" in the <a href tags of the item to make the menu appear */

.tooltip {
	width: 155px; 
	color:#000;
	font:lighter 11px/1.3 Arial,sans-serif;
	text-decoration:none;
	text-align:left
}
.tooltip span.top {
	padding: 5px 10px 0;
    background: url(../images/tooltip.png) no-repeat top
}
.tooltip b.bottom {
	padding: 5px 10px 5px;
	color: #548912;
    background: url(../images/tooltip.png) no-repeat bottom
}

/*--------------------------------------------------------------*/
/*  Image positioning */
.icon {
 	border: none;
 	margin: 12px 15px -10px 0px;
 	display: inline;
 	position: relative;
}

.displayed {
 	border: none;
 	margin: 0px 0px 20px 10px;
 	display: inline;
	position: relative;
}

.logo {
 	border: none;
 	margin: 3px 3px 0px 0px;
 	display: inline;
 	position: relative;
}


IMG.bullet {
	border: none;
 	margin: 0px 15px 1px 0px;
 	display: inline;
 	position: relative;
}

/*--------------------------------------------------------------*/

.icons {
	margin-top:2px;
	margin-right:5px;
	padding-bottom:1px;
}

.icons2 {
 	border: none;
 	margin: 12px 15px -10px 0px;
 	display: inline;
 	position: relative;
}


.icons img {
	margin:2px 7px 2px 0px; 
	border:0; 
	vertical-align:middle;

}
.icons a:link {
	font-size:11px;
	font-weight:bold;
	color:#555555;
	text-decoration:none;
	
}

.icons a:visited {
	font-size:11px;
	font-weight:bold;
	color:#555555;
	text-decoration:none;
}
	
.icons a:hover {
	font-size:11px;
	font-weight:bold;
	color:#ff0000;
	text-decoration:underline;
	}
	
/*------------------------------------------------------------------------*/

 

/* CSS Instead of TABLES */

/* JCol Bottom first 3 columns -----------------------------------------------*/
/* ---------------------------------------------------------------------------*/
.JCol{
  	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
	float: left;
	width: 25%;
	padding:0px;
	border-right-width:1px;
	border-right-color:#999999;
	border-right-style:solid;
	text-align:center;
	}
.JCol ul{text-align:left;display:block;list-style: none;margin-left:3px;margin-right:3px;padding-left:3px;padding-right:3px;width:auto;}
.JCol li{
	float: left;	
	font-family: Arial, Helvetica, sans-serif;	
	border-bottom:dotted;border-bottom-width:thin;border-bottom-width: 1px;border-bottom-color:#777777;	
	font-size: 11px;
	width: 100%;
	text-decoration: none;
	}
.JCol li a{display:block;text-decoration: none;color: #cccccc;padding:5px;}
.JCol li a:visited {text-decoration: none;color: #cccccc;padding:5px;}
.JCol li a:hover {text-decoration: none;color: #fff;background-color:#666666;padding:5px;}
.JCol li a:active {text-decoration: none;color: #fff;padding:5px;}

/* jcol 4th column  -----------------------------------------------------*/

.JCol4{
  	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
	float: left;
	width: 23%;
	padding:0px;
	text-align:center;
	}
.JCol4 ul{text-align:left;display:block;list-style: none;margin-left:3px;margin-right:3px;padding-left:3px;padding-right:3px;width:auto;}
.JCol4 li{
	float: left;	
	position: relative;	
	font-family: Arial, Helvetica, sans-serif;	
	border-bottom:dotted;border-bottom-width:thin;border-bottom-width: 1px;border-bottom-color:#777777;	
	font-size: 11px;
	/*padding:5px;*/
	width: 98%;
	text-decoration: none;
}
.JCol4 li a{display:block;text-decoration: none;color: #cccccc;padding:5px;}
.JCol4 li a:visited {text-decoration: none;color: #cccccc;padding:5px;}
.JCol4 li a:hover {text-decoration: none;color: #fff;background-color:#666666;padding:5px;}
.JCol4 li a:active {text-decoration: none;color: #fff;padding:5px;}






