/* CSS Document 
Copyright 2014-2015, Oracle and/or its affiliates. All rights reserved.
Author: Jordan Douglas 
Template: v2
Version: 2015.June.12 
*/


/* CSS Document */
@media print {
 #sidebar,#bar1,bar2{
	display:none;}
	
	
	
	
}

